<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>html测试</title>
    </head>
    <body>
        <p herf="https://www.4399.com">At Mozilla, we're a global community of </p>
        <ul>
            <li>thinkers</li>
            <li>builders</li>
            <li>technologists</li>
        </ul>
        <a href="https://www.4399.com">At Mozilla, we're a global community of</a>
        <ol>
            <li>thinkers</li>
            <li>builders</li>
            <li>technologists</li>
        </ol>
        <h1>主标题</h1>
        <img src = "https://cdn.acwing.com/media/user/profile/photo/117966_md_8cd57e319e.jpg" alt="testimg">
        <h2>顶层标题</h2>
        <img src = "https://cdn.acwing.com/media/user/profile/photo/117966_md_8cd57e319e.jpg" alt="testimg">
        <h3>子标题</h3>
        <img src = "https://cdn.acwing.com/media/user/profile/photo/117966_md_8cd57e319e.jpg" alt="testimg">
        <h4>次子标题</h4>
        <img src = "https://cdn.acwing.com/media/user/profile/photo/117966_md_8cd57e319e.jpg" alt="testimg">
        <form action="" method="post">
            <input type="text" name="username" />
            <input type="password" name="password" />
            <input type="submit" value="login" />
          </form>
    </body>
</html>
